body{
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #7f7f7f;
    font-family: 'Share Tech Mono';
}
h1{
  text-align: center;
}

.calculadora{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.keys{
    display: flex;
    flex-wrap: wrap;
}

.key--operator, .key--equal{
    background: black;
    color: red;
}
.screen{
  background: black;
  border: solid, black;
  height: 30px;
  font-size: 20px;
  color: limegreen;
  text-align: right;
}

button,div {
  font-family: 'Share Tech Mono';
}

button{
    width: 90%;
    text-align: center; 
    width: 25%;
    height: 36px;
    font-size: 18px;
}

  