
.container{
    position: relative;
    bottom: 282px;
    left: 50%;
    .avatar{
     
        img{
            cursor: pointer;
            max-width: 250px;
            border-radius: 50%;
            height: 250px;
            border: 2px dotted;
        }
    }
    
}
